# Part 1 -- Intro

Load the tips dataset from seaborn

```
import seaborn as sns

tips = sns.load_dataset('tips')
tips.info()
tips.head()
```

### Filter rows by `smoker == 'No'` and `total_bill >= 10`

### What is the average `total_bill` for each value of `smoker`, `day`, and `time`

[**References**]
- https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html
- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html

```
tips.groupby(['smoker', 'day', 'time'])
tips.groupby(['smoker', 'day', 'time']).groups
tips.groupby(['smoker', 'day', 'time'])['total_bill']
tips.groupby(['smoker', 'day', 'time'])['total_bill'].mean()
tips.groupby(['smoker', 'day', 'time'])['total_bill'].mean().reset_index()
```

# Part 2 -- Tidy

Taken from the r4ds "Tidy Data" Chapter: https://r4ds.had.co.nz/exploratory-data-analysis.html

```
import pandas as pd

tbl1 = pd.read_csv('../data/table1.csv')
tbl2 = pd.read_csv('../data/table2.csv')
tbl3 = pd.read_csv('../data/table3.csv')

# clean dataset
tbl1
```

### Tidy the `tbl2` dataset

- Make `tbl1` from `tbl2` using `df.pivot_table()`

```
(tbl2
 .pivot_table(index=['country', 'year'],
              columns='type',
              values='count')
 .reset_index()
)
```

### Tidy the `tbl3` dataset

- Make `tbl1` from `tbl3` by splitting the `rate` column

```
tbl3[['cases', 'population']] = tbl3['rate'].str.split('/', expand=True)
tbl3.drop(columns='rate')
```